<div class="row">
    <div class="col-12 col-md-6">
        <div class="text-center">
            <h3 id="beerSearchToggle">Beer Search</h3>
            <label for="beer" id="beerSearch">
                Beer
                <input type="text" name="beer" id="beerAutocomplete" autocomplete="new-password">
            </label>
            <button id="addBeerToggle" class="btn btn-danger" type="button">
                <i class="far fa-plus-square"></i> Add Beer</button>
        </div>

        <div>
            <form id="newBeerForm" autocomplete="new-password">
                <div class="form-group">
                    <input type="hidden" id="beerID">
                    <label for="inputBeerName">Beer
                        <input type="text" class="form-control" id="beerName" placeholder="Bud Light" required="required">
                    </label>
                </div>

                <div class="form-group row ml-3">
                    <div class="col-xs-3">
                        <label for="beerStyle">Style

                            <input class="form-control" id="styleAutocomplete" type="text">
                        </label>
                    </div>
                    <div class="col-xs-3">
                        <label for="beerABV">ABV

                            <input class="form-control" id="abv" type="number" min="0" max="100">
                        </label>
                    </div>
                    <div class="col-xs-3">
                        <label for="beerIBU">IBU

                            <input class="form-control" id="ibu" type="number" min="0" max="1000">
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <label for="beerDescription">Description
                        <textarea class="form-control" id="description" rows="3"></textarea>
                    </label>

                </div>
                <div class="form-group row ml-3">
                    <div class="col-xs-3">
                        <label for="Brewery">Brewery

                            <input class="form-control" id="breweryAutocomplete" type="text">
                        </label>
                    </div>
                    <div class="col-xs-3">
                        <label for="Address">Address
                            <input class="form-control" id="address" type="text">
                        </label>

                    </div>
                    <div class="col-xs-3">
                        <label for="City">City
                            <input class="form-control" id="city" type="text">
                        </label>
                    </div>
                </div>
                <div class="form-group row ml-3">
                    <div class="col-xs-3">
                        <label for="State">State
                            <input class="form-control" id="stateAutocomplete" type="text">
                        </label>
                    </div>
                    <div class="col-xs-3">
                        <label for="Country">Country
                            <input class="form-control" id="country" type="text">
                        </label>

                    </div>
                    <div class="col-xs-3">
                        <label for="Zip">Zip Code
                            <input class="form-control" id="zipCode" type="text">
                        </label>
                    </div>
                </div>

                <div class="form-group row ml-3">
                    <div class="col-xs-3">
                        <label for="Phone">Phone
                            <input class="form-control" id="phone" type="tel">
                        </label>

                    </div>
                    <div class="col-xs-3">
                        <label for="Website">Website
                            <input class="form-control" id="website" type="url">
                        </label>

                    </div>
                </div>
                <button id="beerSubmit" class="btn btn-warning btn-lg" type="submit">Submit this beer! </button>
                <button id="beerClear" class="btn btn-danger btn-lg" type="reset">Cancel</button>
            </form>
        </div>
    </div>

    <div class="col-12 col-md-6">
        <form id="beerDrankForm" class="text-center">
            <input name="beerID" value="">
            <input name="drinkerID" value="{{drinker.id}}">
            <h2 id="beerSelectionName" class="mb-3"></h2>
            <p id="beerSelectionDescription" class="mb-3"></p>
            <div class="mb-4">
                <select id="beerDropdown">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                </select>
            </div>
            <button id="signInButton" class="btn btn-warning btn-lg" type="submit">I drank this beer! </button>
            <a id="cancelAddBeerDrank" href="">Cancel</a>
        </form>

        <div id="beerHistory" class="outlineSection">
            <h3 class="text-center">Beer History</h3>
            <table id="beerHistoryTable">
            </table>
            <div id="beerStatistics">
                <p>
                    Total Beers Drank:
                    <span id="numBeersDrank"></span>
                </p>
                <p>
                    Total Different Beers:
                    <span id="numDifferentBeers"></span>
                </p>
            </div>
        </div>
    </div>

    <!-- new row here -->


</div>