body, html {
    background-image: url("/images/wood.jpg");
    height: 100%;
    background-position: center;
    background-repeat: repeat-y;
    background-size: cover;
}

#map {
    height: 400px;
    width: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

section {
    flex: 1 0 auto;
}
  
footer {
    flex-shrink: 0;
    text-align:center;
}


footer ul {
    list-style-type: none;
    text-align: center;
  }
  
  footer ul li {
    margin: 0;
    padding: 0;
    display: inline;
  }
  
  footer ul li:after {
    content: " | ";
  }
  
  footer ul li:last-child:after {
    content: "";
  }


.autocomplete-suggestions { 
    border: 1px solid #999; 
    border-top: none;
    background: #FFF; 
    overflow: auto; 
    color: black;
}
.autocomplete-suggestion { 
    padding: 2px 5px; 
    white-space: nowrap; 
    overflow: hidden; 
}

.autocomplete-selected { 
    background: #F0F0F0; 
}

.bg-1 { 
    border-radius: 25px;
    background: whitesmoke;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: black;
}

.spashyImage {
    max-width: 100%;
}

#beerSearchToggle, #addBeerToggle {
    cursor: pointer;
}

.outlineSection {
    border: 1px solid white;
    border-radius: 1em;
    padding: 1em;
    margin-top: 1em;
}

textarea {
    width: 100%;
}

@media screen and (max-width: 600px) {
    #logo {
      width: 50%;
    }
}
