body, html {
    height: 100%;
}
.jumbotron{
    background: rgb(255,255,255, .5);
    padding-top: 10px;
    padding-bottom: 10px;
}

.bg-1 { 
    border-radius: 25px;
    /* The image used */
    background: whitesmoke;
    position: static;

    /* Full height */
    height: 100%; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.bg-2 { 
    /* The image used */
    background-image:"/images/wood.jpg";

    /* Full height */
    height: 100%;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#ageDate{
    padding-top: 15px;
}
#yesButton{
    float:right;
}

@media screen and (max-width: 980px) and (min-width: 769px) {
  .bg-2{
      height: 50%;
  }
  .bg-1{
      display:flex;
      flex-direction: column;
      flex-wrap: nowrap;
  }
  #ageDate{
      padding-top: none;
  }
  #yesButton{
      width: 90%;
      float: right;
     font-size: 16px;
     margin-right: 5px;
  }
  #noButton{
      width: 90%;
      float: left;
      font-size: 16px;
  }
}
@media screen and (max-width: 768px) and (min-width:641px){
    #yesButton{
        width: 90%;
        float: right;
       font-size: 12px;
    }
    #noButton{
        width: 90%;
        float: left;
        font-size: 12px;
    }
}
@media screen and (max-width: 640px){
    #yesButton{
        width: 100%;
       font-size: 12px;
       margin-bottom: 10px;
    }
    #noButton{
        width: 100%;
        font-size: 12px;
        margin-bottom: 10px;
    }
    #bornLimit{
        font-size: 16px;
    }
    #ageDate{
        font-size: 16px;
    }
}